#root {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
}

* {
  color: #f4f4f4e7 !important;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px !important;
}

.abaaba {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h5 {
  font-weight: 900 !important;
}

p {
  font-weight: 300 !important;
}

.filmsContainer {
  width: fit-content;
  margin-top: 25px !important;
}

.filmInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  height: 350px;
}

.mainContainer { 
  width: 100% !important;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiPaper-root {
  width: 300px;
  background-color: #363636 !important;
  height: fit-content;
}

.MuiCardContent-root {
  padding: 0 !important;
}

.MuiFormLabel-root {
  color: #f4f4f4 !important;
}

.MuiInputBase-input {
  border: none;
  color: #f4f4f4 !important;
}

img {
  width: 300px;
  height: 400px;
}